.button {
  color: #ffffff;
  background: blue;
  border: 1px solid #ffffff;
  border-radius: 6px;
  padding: 5px;
  color: rgb(56, 57, 58);
  text-decoration: none;
  width: 150px;
}

.button:hover {
  /* prueba */
  opacity: 0.8;
}
